* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

#root {
  width: 100%;
}

.app {
  position: relative;
}

.grid {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.grid__item {
  margin: 0 10px 20px;
  flex: 1 1 302px;
}

.card {
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  line-height: 0;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.unsplash__card__container {
  width: 100%;
  height: 215px;
  overflow: hidden;
  background-color: #eee;
}

.unsplash__card__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.unsplash__footer {
  width: 100%;
  padding: 10px 15px;
}

.unsplash__card__container__img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d8d8d8;
  margin-right: 15px;
  float: left;
}

.unsplash__card__container__body {
  width: 100%;
  height: 32px;
  line-height: 32px;
}

.unsplash__card__container__body a {
  font-family: Courier, serif;
  font-size: 15px;
  color: #01beb8;
}

.unsplash__card__container__body a:hover {
  text-decoration: none;
}

.pagination {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 0 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination__left,
.pagination__right,
.pagination__mid {
  padding: 30px 0;
}

.pagination a,
.pagination span {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 42px;
  height: 44px;
  color: #999;
  font-size: 18px;
}

.pagination a {
  padding: 0 16px;
  max-width: 160px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-decoration: none;
  margin: 0 6px;
  transition: all 0.2s ease-in-out;
}

.pagination a:hover,
.pagination a.current {
  border-color: #01beb8;
  color: #01beb8;
}

.pagination__mid {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.pagination__mid ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination__mid li {
  display: inline-block;
}

.hidden {
  display: none !important;
}

.loader {
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader::before {
  background: hsla(0, 0%, 100%, 0.7);
}

.loader::after {
  content: "";
  font-size: 48px;
  width: 1em;
  height: 1em;
  border: 2px solid #ccc;
  border-top-color: #01beb8;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}

.ui,
.form,
input[type="text"] {
  color: #01beb8;
  width: 100%;
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  font-size: 1em;
  border-color: rgba(34, 36, 38, 0.15);
}

input[type="text"]:focus {
  outline-color: unset;
}

.header {
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #01beb8;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.header a {
  float: left;
  color: #01beb8;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.download__icon {
  position: absolute;
  top: 5%;
  right: 1%;
  color: #01beb8;
  font-size: 2rem;
}

.popup__img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.popup-content {
  width: 60% !important;
}
